body {
  background-color: #000000;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg");
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  padding: 1px 500px;
}

.letitle {
  padding: 20px 1px 60px 1px;
}

.leproject {
  padding: 60px 1px 10px 1px;
}

.leskills {
  padding: 60px 1px 10px 1px;
}

.lefinal {
  padding: 60px 1px 10px 1px;
}